@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');

html, body{
	scroll-behavior: smooth;
	overflow-x:hidden;
}

body {
	font-family: 'Prompt', sans-serif;
	background: #3b3050;
	position: relative
}

span {
	color: #A3AAD6;
}

form label {
	color: #A3AAD6;
}

body .tooltip .arrow::before {
  border-bottom-color: white;
}

.div-body {
	background: #2b3361;
	background: -webkit-linear-gradient(to bottom, #2b3361, #3b3050); 
	background: linear-gradient(to bottom, #2b3361, #3b3050);
	margin: 0;
	padding: 0; 
}

.section {
	font-weight:bold;
	padding-top: 5rem;
	color: white;
}

/*------ Section Headings ------*/
.heading h1 {
	font-size: 55px;
	font-weight: 600;
	margin-bottom: 2rem;
}

.heading h5 {
	color: #A3AAD6;
	letter-spacing: .2rem;
	text-align: center;
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 2rem;
}
/*---End of Section Headings ---*/


/*--------- Scroll bar ---------*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
   background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #A3AAD6; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7E88C5; 
}
/*-------End of Scroll bar------*/


/*----------- Navbar -----------*/
.navbar {
  background: none;
  text-transform: lowercase;
  inline: block;
}

.navbar-right > li {
  float: left;
}

.navbar a {
	color: white;
	font-family: 'Prompt', sans-serif;
	font-weight:500;
	font-size:1rem;
}

.navbar a:hover{
	color: #a3aad6;
}
/*-------- End of Navbar -------*/


/*---------- Jumbotron ---------*/
.jumbo {
	margin: 0;
	padding: 0;
	display: flex;
 	align-items: center;
}

.avatar {
	width: 30%;
	height: auto;
}

.display-4 {
	font-family: 'Prompt', sans-serif;
	font-weight:bold;
	color: white;
	/*font-size: 55px;*/
    text-shadow: 4px 4px #1c1a42;
    letter-spacing: 1px;
    /*margin-bottom: 1%;*/
}

.lead {
	font-family: 'Prompt', sans-serif;
	font-weight:700;
	margin: 0 auto; 
 	text-align: center;
	color: white;
    width: 70%;
    text-shadow: black 2px 2px 5px;
}

.jumbo-info .btn-resume {
	background-color: #a3aad6;
	font-weight:bold;
	margin-top:1%;
}

.jumbotron {
	height: 100vh;
	background-image: url("../img/hero.jpg");
	background-position: center top;
  	background-size: cover;
}

.jumbotron .container {
	color: white;
	height: 90vh;
	text-align: center;
}

.btn-resume:hover {
   background: #7E88C5;
   color: white;
}

.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;

  width: 125px;
  overflow: hidden;
}

.effect.effect-3 {
  transition: all 0.2s linear 0s;
}
.effect.effect-3:before {
  font-family: "Font Awesome 5 Free";
  content: "\f381";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  transition: all 0.2s linear 0s;
}
.effect.effect-3:hover {
  text-indent: -9999px;
}
.effect.effect-3:hover:before {
  top: 0;
  text-indent: 0;
}
/*----- End of Jumbotron -------*/


/*------- Skills Section -------*/
.tooltip-inner {
    color: black;
    background-color: white;
    font-weight: bold;
}

.heading p img {
	margin-left: 5px;
	margin-right: 5px;
}

#skills .section {
	margin-bottom: 12rem;
}

#html5 {
	width: 55px;
	height: auto;
}

#css3 {
	width: 66px;
	height:auto;
}

#javascript{
	width: 58px;
	height: auto;
}

#php {
	width: 70px;
	height:auto;
}

#mysql {
	width: 65px;
	height:auto;
}

#bootstrap {
	width: 65px;
	height:auto;
}

#git {
	width: 60px;
	height:auto;
}

#photoshop {
	width: 50px;
	height:auto;
}
/*-------- End of Skills --------*/


/*------- Project Section -------*/
#projects .section {
	margin-bottom: 5rem;
	padding:0;
}

.project-item{
	position: relative;
	margin-bottom: 30px;
}

.project-item img{
	width: 100%;
	height: auto;

	opacity: 1;
	display: block;
	transition: .5s ease;
	backface-visibility: hidden;
}

.project-content {
	width: 100%;
	height: auto;
	transition: .5s ease;
 	opacity: 0;
  	position: absolute;
  	top: 25%;
  	left: 25%;
  	transform: translate(-25%, -25%);
  	-ms-transform: translate(-25%, -25%);
 	text-align: center;
}

.project-item:hover img {
	opacity: 0.3;
}

.project-item:hover .project-content {
	opacity: 1;
}

.project-text {
	position: relative;
	color: white;
	font-size: 1vh;
	padding: 16px 32px;
}

.project-text button{
	font-size: 2vh;
}

.project-text h3 {
	color: #a3aad6;
}

.btn-demo {
	background-color: #A3AAD6;
	color: white;
	margin-right: 1%;
	font-weight:bold;
}

.btn-code {
	background-color: #6C77BD;
	color: white;
	margin-left: 1%;
	font-weight:bold;
}
/*------- End of Projects -------*/


/*------- Contact Section -------*/
.btn {
	background-color: #A3AAD6;
	color: white;
}

.form-btn:hover {
	background-color: #7E88C5;
	color: white;
}
/*-------- End of Contact -------*/


/*-------- Footer Section -------*/
#bottom-hero{
    background-image: url("../img/water2.png");
    background-position: center bottom;
    width: 100%;
    height: auto;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.footer {
 	bottom: 0;
  	width: 100%;
 	height: 150px;
 	line-height: 60px; /* Vertically center the text there */
  	text-align: center;
	/*margin-top: 10rem;*/
	background-color: #0e4d44;
	position: relative;
}

.footer div {
	bottom: 0px;
	width: 100%;
	position: absolute;
	text-align: center;
}
/*-------- End of footer --------*/


/*-------- Media Queries --------*/
@media (min-width: 576px) {
	.contact-container {
		width: 100%;
	}

	.display-4 {
		font-size: 20px;
	}

	.lead {
		font-size: 15px;
	}
}

@media (max-width: 768px) {
	.contact-container {
		width: 100%;
	}

	.display-4 {
		font-size: 25px;
	}

	.lead {
		font-size: 20px;
	}
}

@media (min-width: 992px) {
	.contact-container {
		width: 30%;
	}

	.display-4 {
		font-size: 55px;
	}

	.lead {
		font-size: 25px;
	}
}

@media (min-width: 1200px) {
	.contact-container {
		width: 30%;
	}

	.display-4 {
		font-size: 55px;
	}

	.lead {
		font-size: 25px;
	}

}
/*---- End of Media Queries ----*/